@font-face {
  font-family: 'Aurebesh';
  src: url("../fonts/Aurebesh/aurebesh_condensed-webfont.eot");
  src: url("../fonts/Aurebesh/aurebesh_condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aurebesh/aurebesh_condensed-webfont.woff2") format("woff2"), url("../fonts/Aurebesh/aurebesh_condensed-webfont.woff") format("woff"), url("../fonts/Aurebesh/aurebesh_condensed-webfont.ttf") format("truetype"), url("../fonts/Aurebesh/aurebesh_condensed-webfont.svg#aurebesh_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Starwars';
  src: url("../fonts/Starwars/starjedi-webfont.eot");
  src: url("../fonts/Starwars/starjedi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Starwars/starjedi-webfont.woff2") format("woff2"), url("../fonts/Starwars/starjedi-webfont.woff") format("woff"), url("../fonts/Starwars/starjedi-webfont.ttf") format("truetype"), url("../fonts/Starwars/starjedi-webfont.svg#star_jediregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Moondog_regular';
  src: url("../fonts/Moondog/moon00__-webfont.eot");
  src: url("../fonts/Moondog/moon00__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon00__-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon00__-webfont.woff") format("woff"), url("../fonts/Moondog/moon00__-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon00__-webfont.svg#moondog_zeroregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Moondog_regular';
  src: url("../fonts/Moondog/moon00i_-webfont.eot");
  src: url("../fonts/Moondog/moon00i_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon00i_-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon00i_-webfont.woff") format("woff"), url("../fonts/Moondog/moon00i_-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon00i_-webfont.svg#moondog_zeroitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Moondog_bold';
  src: url("../fonts/Moondog/moon15__-webfont.eot");
  src: url("../fonts/Moondog/moon15__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon15__-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon15__-webfont.woff") format("woff"), url("../fonts/Moondog/moon15__-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon15__-webfont.svg#moondog_fifteenregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Moondog_bold';
  src: url("../fonts/Moondog/moon15i_-webfont.eot");
  src: url("../fonts/Moondog/moon15i_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon15i_-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon15i_-webfont.woff") format("woff"), url("../fonts/Moondog/moon15i_-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon15i_-webfont.svg#moondog_fifteenitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Moondog_bolder';
  src: url("../fonts/Moondog/moon30__-webfont.eot");
  src: url("../fonts/Moondog/moon30__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon30__-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon30__-webfont.woff") format("woff"), url("../fonts/Moondog/moon30__-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon30__-webfont.svg#moondog_thirtyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Moondog_bolder';
  src: url("../fonts/Moondog/moon30i_-webfont.eot");
  src: url("../fonts/Moondog/moon30i_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Moondog/moon30i_-webfont.woff2") format("woff2"), url("../fonts/Moondog/moon30i_-webfont.woff") format("woff"), url("../fonts/Moondog/moon30i_-webfont.ttf") format("truetype"), url("../fonts/Moondog/moon30i_-webfont.svg#moondog_thirtyitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  padding: 0px !important; }

body {
  font-family: "Moondog_bolder"; }

.container {
  height: 100%;
  position: relative; }

#adminMainContener {
  padding: 50px 0;
  min-height: 100%;
  position: relative; }
  #adminMainContener label {
    margin-top: 20px; }
  #adminMainContener:after {
    content: '';
    clear: both; }
  #adminMainContener:before {
    content: '';
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 220px;
    z-index: -1;
    height: 320px;
    transform: translate(-50%, -50%); }

#authDashbord {
  width: 250px;
  background-image: url("../images/logo.png");
  text-align: center;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  padding-top: 40px;
  transform: translate(-50%, -50%); }
  #authDashbord input {
    color: black;
    margin-bottom: 15px; }
  #authDashbord button {
    color: white; }
  #authDashbord button:hover {
    color: slategrey; }

tr.info {
  background-color: rgba(192, 44, 44, 0.05); }

tr.success {
  background-color: rgba(37, 190, 44, 0.05); }

tr td a {
  font-weight: 600; }

.pagination {
  text-align: center; }
  .pagination ul.pagination {
    margin-top: 20px;
    list-style: none;
    vertical-align: top;
    display: inline-block; }
    .pagination ul.pagination li {
      display: inline-block;
      margin-left: 10px; }

.alert.alert-info {
  width: 25%;
  background-color: rgba(34, 139, 34, 0.5);
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 50px;
  right: 0; }

button.btn-delete {
  background-color: rgba(148, 0, 0, 0.7);
  color: white;
  transition: background 0.3s, color 0.3s; }

button.btn-delete:hover {
  background-color: white;
  color: #252c38; }

.btn.btn-success {
  background-color: #00c85a;
  transition: background 0.3s, color 0.3s;
  color: #fff; }
  .btn.btn-success:hover {
    color: #252c38;
    background-color: #00e66e; }

.btn.btn-danger {
  background-color: #940000;
  transition: background 0.3s, color 0.3s;
  color: #fff; }
  .btn.btn-danger:hover {
    color: #252c38;
    background-color: #c80000; }

nav#adminMainNav a {
  text-decoration: none;
  width: 25%;
  text-align: center;
  float: left;
  border-right: 1px #889db8 solid;
  border-bottom: 1px #889db8 solid;
  padding: 10px; }
  nav#adminMainNav a:last-of-type {
    border-right: none; }

nav#adminMainNav:after {
  content: '';
  clear: both; }

td > p.tags {
  background: black;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 2px;
  margin-bottom: 5px; }

.rightBtn {
  float: right; }

.currency {
  font-family: Aurebesh;
  margin-left: 5px;
  font-size: 20px; }

.row .image {
  margin-top: 20px; }

#recapOrder {
  margin: 55px auto;
  width: auto; }
  #recapOrder div {
    margin: 0 0 0 35px; }
  #recapOrder #productRecapOrder div {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(130, 130, 130, 0.5); }

.delete-conf {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  display: none; }
  .delete-conf form {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    color: #fff; }
    .delete-conf form .aboart {
      margin-right: 20px; }
