// Colors
$drkBlue: #252c38;
$lgtBlue: #226498;
$drkGrey: #546680;
$lgtGrey: #889db8;
$redBtn:  #420101;
// Fonts
$Moondog: 'Moondog_regular';
$MoondogBold: 'Moondog_bold';
$MoondogBolder: 'Moondog_bolder';
$Starwars: 'Starwars';
$Aurebesh: 'Aurebesh';

// Configuration
$defPadding: 20px;
$defBorder: 2px;

// Paths
$imgs: '../images/';
$fonts: '../fonts/';
