@import '../conf';
@import '../font';

body, html{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $Moondog;
}

// Header
header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: $drkBlue;
    // Header border
    &:after{
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 14px;
        position: absolute;
        background-repeat: repeat-x;
        background-position: 0% 100%;
        background-image: url($imgs+'header-border.png');
    }
    // Logo
    h1{
        top: 0px;
        left: 50%;
        height: 100%;
        position: absolute;
        transform: translateX(-50%);
        .name{
            font-size: 40px;
            color: $lgtBlue;
            font-family: $Starwars;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.name-1{right: 105%;}
            &.name-2{left: 105%;}
        }
        img{
            top: -80px;
            position: relative;
        }
    }
    // Menu
    .menu{
        top: 50%;
        width: 74px;
        height: 44px;
        left: $defPadding;
        position: absolute;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-image: url($imgs+'menu.png');
    }
    .main-menu{
        top: 0;
        left: -30%;
        width: 30%;
        height: 100%;
        display: none;
        position: absolute;
        background-color: $drkBlue;
        li{
            width: 100%;
            display: block;
        }
    }
    // Cart
    .cart{
        top: 50%;
        width: 47px;
        height: 53px;
        right: $defPadding;
        position: absolute;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-image: url($imgs+'cart.png');
        .container{
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotate(45deg);
            border: $defBorder $lgtGrey solid;
        }
        .items{
            left: 50%;
            top: 50%;
            position: absolute;
            font-size: 20px;
            color: $lgtGrey;
            transform: translate(-50% -50%);
        }
    }
}
