@import '../conf';

.legal{
    padding: $defPadding;
    padding-top: 150px;
    max-width: 1024px;
    margin: 0 auto;
    .title{
        color: $drkBlue;
        font-size: 38px;
        margin-bottom: 40px;
    }
    .text{
        color: $drkBlue;
        font-size: 16px;
    }
}
