.cube .borders {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg); }
  .cube .borders div {
    position: absolute;
    background-color: #252c38; }
  .cube .borders .top {
    width: 100%;
    height: 2px;
    top: 0%;
    left: 0%;
    transition: width ease 0.2s, background 0.3s ease-in; }
  .cube .borders .right {
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    transition: height ease 0.25s, background 0.35s ease-in; }
  .cube .borders .bot {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    transition: width ease 0.3s, background 0.4s ease-in; }
  .cube .borders .left {
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: height ease 0.15s, background 0.25s ease-in; }

.cube:hover .borders .top {
  width: 80%; }

.cube:hover .borders .left {
  height: 80%; }

.cube:hover .borders .bot {
  width: 80%; }

.cube:hover .borders .right {
  height: 80%; }

.cube.main-cube {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  border: 2px transparent solid;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .cube.main-cube .borders {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cube.main-cube.helmets {
    background-image: url("../images/icones/helmet-big.png"); }
  .cube.main-cube.lasers {
    background-image: url("../images/icones/blaster-big.png"); }
  .cube.main-cube:hover .borders div {
    background-color: #226498; }

.products-container {
  padding: 10px;
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 170px; }
  .products-container .product-container {
    width: 80%;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: 50% 100%; }
    .products-container .product-container .about-top {
      width: 100%;
      position: relative;
      margin-bottom: 20px; }
      .products-container .product-container .about-top .image-min {
        max-width: 30%;
        float: right;
        margin-bottom: 10px; }
      .products-container .product-container .about-top .title {
        color: #252c38;
        font-size: 30px;
        margin-bottom: 5px;
        display: inline-block; }
      .products-container .product-container .about-top .description {
        font-size: 14px;
        color: #226498; }
    .products-container .product-container .category {
      top: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      border: 2px transparent solid;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      .products-container .product-container .category .borders {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .products-container .product-container .category.helmets {
        background-image: url("../images/icones/helmet.png"); }
      .products-container .product-container .category.lasers {
        background-image: url("../images/icones/blaster.png"); }
    .products-container .product-container .tags {
      text-align: center; }
      .products-container .product-container .tags .tag {
        width: 35px;
        height: 35px;
        margin: 0 10px;
        display: inline-block;
        position: relative;
        border: 2px transparent solid;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
        .products-container .product-container .tags .tag.jedi {
          background-image: url("../images/icones/jedi.png"); }
        .products-container .product-container .tags .tag.blasters {
          background-image: url("../images/icones/target.png"); }
        .products-container .product-container .tags .tag.first-order {
          background-image: url("../images/icones/first-order.png"); }
        .products-container .product-container .tags .tag.sith {
          background-image: url("../images/icones/sith.png"); }
        .products-container .product-container .tags .tag.rebels {
          background-image: url("../images/icones/rebel.png"); }
        .products-container .product-container .tags .tag.lightsabers {
          background-image: url("../images/icones/saber.png"); }
    .products-container .product-container.single {
      width: 100%;
      display: table; }
      .products-container .product-container.single .table-element {
        vertical-align: top;
        display: table-cell;
        position: relative; }
      .products-container .product-container.single .image {
        width: 45%; }
        .products-container .product-container.single .image img {
          width: 100%; }
      .products-container .product-container.single .category-container {
        width: 10%;
        vertical-align: middle; }
        .products-container .product-container.single .category-container .category {
          top: 0;
          left: 0;
          margin: 0 auto;
          display: block;
          transform: inherit;
          position: relative; }
      .products-container .product-container.single .container-infos {
        text-align: right;
        width: 45%; }
        .products-container .product-container.single .container-infos .about-top {
          margin-bottom: 30px; }
          .products-container .product-container.single .container-infos .about-top .title {
            font-size: 46px; }
          .products-container .product-container.single .container-infos .about-top .description {
            font-size: 20px; }
        .products-container .product-container.single .container-infos .tags {
          margin-bottom: 30px; }
      .products-container .product-container.single form {
        text-align: center; }
        .products-container .product-container.single form .form-content label {
          color: #226498;
          font-size: 18px;
          margin-right: 10px; }
        .products-container .product-container.single form .form-content .container-btn.select {
          margin-right: 10px; }
  .products-container .blocs {
    float: left;
    width: 50%; }
    .products-container .blocs.left .product-container {
      background-image: url("../images/product-border.png"); }
      .products-container .blocs.left .product-container .image-min {
        margin-left: 20px; }
      .products-container .blocs.left .product-container .category {
        left: 105%; }
    .products-container .blocs.right {
      padding-top: 100px; }
      .products-container .blocs.right .product-container {
        background-image: url("../images/product-border-right.png");
        float: right;
        text-align: right; }
        .products-container .blocs.right .product-container .image-min {
          margin-right: 20px;
          float: left; }
        .products-container .blocs.right .product-container .category {
          right: 105%; }
